:host {
    input {
      min-width: 5.5rem;
      line-height: normal;
      padding: .375em .75em;
      width: 5.5rem;
    }
    .disabledEdition {
        background: transparent;
        border: 0;
        outline: 0;
        pointer-events: none;
    }
  }