<div class="row">
  <div class="col-xxxl-3 col-lg-3 col-md-6 col-sm-12">
    <ngx-switch-status-card (status)="onSwitchStatus($event)"> 
    </ngx-switch-status-card>
  </div>
  <div class="col-xxxl-3 col-lg-3 col-md-6 col-sm-12">
    <ngx-filter-by-quantity-card (filteredQuantity)="onFilteredQuantity($event)"> 
    </ngx-filter-by-quantity-card>
  </div>
  <div class="col-xxxl-3 col-lg-3 col-md-6 col-sm-12">
    <ngx-filter-by-price-card (filteredPrice)="onFilteredPrice($event)"> 
    </ngx-filter-by-price-card>
  </div>
  <div class="col-xxxl-3 col-lg-3 col-md-6 col-sm-12">
    <ngx-select-sort-card (selectedOrder)="onSelectedOrder($event)" > 
    </ngx-select-sort-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-lg-3 col-md-4 col-sm-12" *ngFor="let product of (productsWithFilters$ | async)">
    <ngx-product-card [product]="product"></ngx-product-card>
  </div>
</div>
<div class="row" style="display:none;" *ngIf="(productsWithFilters$ | async)?.length < 1">
  <div class="wrapper-not-found-results col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <h2 class="title">Upsss!! No hemos encontrado productos</h2>
          <small class="sub-title">El producto que buscas es posible que no exista!!</small>
          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
            Intente de Nuevo
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>