<nb-card-header>
  <div class="header-container">
    <div class="icon">
      <i class="ion-social-usd"></i>
    </div>
    <span class="title">{{ product.price | currency : 'USD' : 'symbol' : '1.0' }}</span>
  </div>
</nb-card-header>
<nb-card-body>
  <div>
    <span class="product-name">{{ product.name }}</span>
  </div>
  <div class="description">
    <bdi>En Stock : {{ product.quantity }}</bdi>
  </div>
  <div class="qty-control">
      <div class="input-group">
          <span class="input-group-prepend qty-less" role="button">
            <button class="input-group-text">
                <i class="eva-icon-container" (click)="ctrlQuantity(-1)">
                  <i [innerHTML]="'minus-circle' | eva: { animationType: 'pulse' }"></i>
                </i>
            </button>
          </span>
          <input type="number" [(ngModel)]="quantity" class="form-control qty-value" min="1" [onlyNumbers]="true" [attr.maxLength]="product.quantity.toString().length"
            [attr.max]="product.quantity">
          <div class="unit-product">Und.</div>
          <span class="input-group-append qty-more" role="button">
            <button class="input-group-text">
                <i class="eva-icon-container" (click)="ctrlQuantity(1)">
                  <i [innerHTML]="'plus-circle' | eva: { animationType: 'pulse' }"></i>
                </i>
            </button>
          </span>
        </div>
  </div>
  <div class="add-to-cart">
    <button nbButton size="xsmall" outline status="info" (click)="updateCart()">
      Añadir al Carrito
    </button>
  </div>
</nb-card-body>